<aside class="receipt-panel shadow-lg">
  <div
    class="summary position-relative bg-red-light text-dark mt-3"
    data-pg-name="Receipt"
    *ngIf="transaction"
  >
    <button class="btn close" type="button" (click)="store.hideMenus()">
      &times;
    </button>
    <h4 class="text-sm text-uppercase font-weight-bold text-center d-block">
      Transaction Details
    </h4>
    <small class="text-sm d-block text-center font-weight-bold text-muted"
      >(Transaction ID:
      <span class="spaced"
        >{{ store.get("transactionSuffix") }}{{ transaction.id }}</span
      >)</small
    >
    <div
      class="receipt-divider ml-n4 mr-n4 position-relative mb-4 mt-3 overflow-hidden"
    ></div>
    <div class="text-sm text-capitalize">
      <span class="d-block">From</span>
      <span class="font-weight-bold"
        >{{ user.firstname }} {{ user.lastname }}</span
      >
      <small class="d-block font-weight-bold text-muted"
        >({{ store.get("bankName") }}/{{ user.accountNumber }})</small
      >
    </div>
    <div class="text-sm mt-3 text-capitalize">
      <span class="d-block">To</span>
      <span class="font-weight-bold">{{ receiver.name }}</span>
      <small class="d-block font-weight-bold text-black-50"
        >({{ receiver.bank }}/{{ receiver.account }})</small
      >
    </div>
    <div class="text-sm mt-3">
      <span class="d-block">Date</span>
      <span class="font-weight-bold">{{
        transaction.transactionDate | date
      }}</span>
    </div>
    <div class="text-sm mt-3">
      <span class="d-block">Transfer Type</span>
      <span class="font-weight-bold">{{ getOption(transaction.option) }}</span>
    </div>
    <div class="text-sm mt-3">
      <span class="d-block">IFSC Code</span>
      <span class="font-weight-bold">{{ transaction.ifscCode || "N/A" }}</span>
    </div>
    <div class="text-sm mt-3">
      <span class="d-block">Description</span>
      <span class="font-weight-bold text-sentence"
        >{{ transaction.description || "N/A" }}
      </span>
    </div>
    <div
      class="receipt-divider mt-3 ml-n4 mr-n4 position-relative overflow-hidden mb-3"
    ></div>
    <div>
      <span class="d-block text-sm"
        >Amount ({{ transaction.type ? "Credit" : "Debit" }})</span
      >
      <span
        class="font-weight-bold d-block text-nowrap spaced text-success"
        [class.text-danger]="!transaction.type"
      >
        {{ transaction.type ? "+" : "-"
        }}<span [innerHTML]="store.get('currency')"></span>
        {{ transaction.amount | number }}</span
      >
    </div>
    <div
      class="receipt-divider mt-3 ml-n4 mr-n4 mb-4 position-relative overflow-hidden"
    ></div>
    <div class="pl-2 pr-2 ml-0 mr-0 pb-0 pt-0 text-left">
      <button
        type="button"
        class="btn text-white d-print-none font-weight-bold mt-4 btn-block login-btn btn-sec text-uppercase btn-rounded"
        (click)="printReceipt()"
      >
        Print
      </button>
    </div>
  </div>
</aside>
