<main
  class="d-flex justify-content-center align-items-center min-vh-100 login-cover position-relative "
>
  <div class="container-fluid mt-3 mb-3">
    <div class="bg-white wrapper ml-auto mr-auto">
      <div class="row" data-pg-collapsed>
        <div class="col-sm-6">
          <div
            class="welcome d-flex align-items-center h-100 position-relative justify-content-start"
          >
            <div class="position-relative">
              <h4>WELCOME TO</h4>
              <h1 class="font-weight-bold position-relative mb-0">
                Mr. Chris Eghe Bank
              </h1>
            </div>
          </div>
        </div>
        <div class="col-sm-6 order-sm-first">
          <form role="form" class="login-form" autocomplete="off">
            <img
              src="assets/images/icons/icon.png"
              width="60"
              class="mb-4 d-none d-sm-inline-block"
            />
            <div class="form-group">
              <label for="exampleInputEmail1">Account Number</label>
              <input type="text" class="form-control" name="username" />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <button
              type="submit"
              class="btn login-btn text-white font-weight-bold mt-4 btn-block"
            >
              LOGIN
            </button>
            <p class="register-text mt-4 text-center">
              Don't have an account yet?
              <a routerLink="/register">Create account</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
