<small class="text-sm">Good morning,</small>
<h2 class="greeting font-weight-bold text-capitalize">Christopher Eghe</h2>
<div class="row mt-5" data-pg-collapsed>
  <div class="col-lg-12 col-xl-4" data-pg-collapsed>
    <div
      class="summary position-relative bg-brand text-white"
      data-pg-collapsed
    >
      <div data-pg-collapsed>
        <h4 class="summary-title">Account Balance</h4>
        <h5 class="summary-amount font-weight-bold balance">
          <a
            href="transfer.html"
            class="float-right mr-n2 text-white-50"
            title="Transfer Fund"
            data-pg-collapsed
            ><i class="fas fa-exchange-alt"></i></a
          >&#8358; 777,777,777.00
        </h5>
        <small class="summary-count d-inline-block mt-3">42 Transactions</small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-4" data-pg-collapsed>
    <div class="summary position-relative text-body bg-white" data-pg-collapsed>
      <div
        class="transaction-badge text-center transaction-badge-green"
        data-pg-collapsed
      >
        <i class="fas fa-arrow-down"></i>
      </div>
      <div data-pg-collapsed class="ml-4 pl-3">
        <h4 class="summary-title">Credits</h4>
        <h5 class="summary-amount font-weight-bold">&#8358; 777,777,777.00</h5>
        <small class="summary-count d-inline-block mt-3">12 Transactions</small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-4" data-pg-collapsed>
    <div
      class="summary position-relative bg-red-light text-dark bg-white"
      data-pg-collapsed
    >
      <div
        class="transaction-badge text-center transaction-badge-red"
        data-pg-collapsed
      >
        <i class="fas fa-arrow-up"></i>
      </div>
      <div data-pg-collapsed class="ml-4 pl-3">
        <h4 class="summary-title">Debits</h4>
        <h5 class="summary-amount font-weight-bold">&#8358; 777,777,777.00</h5>
        <small class="summary-count d-inline-block mt-3">30 Transactions</small>
      </div>
    </div>
  </div>
</div>
<div class="mt-5 mb-3 pt-4" data-pg-collapsed>
  <h4 class="text-sm text-uppercase font-weight-bold text-muted d-inline-block">
    Transactions
  </h4>
  <div class="dropdown float-right">
    <button
      class="btn dropdown-toggle btn-sm text-dark"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      type="button"
    >
      All
    </button>
    <div
      class="dropdown-menu dropdown-menu-right text-sm"
      aria-labelledby="dropdownMenuButton"
    >
      <a class="dropdown-item" href="#">All Transactions</a>
      <a class="dropdown-item" href="#">Credits</a>
      <a class="dropdown-item" href="#">Debits</a>
    </div>
  </div>
</div>
<div class="mt-0 summary bg-white" data-pg-collapsed>
  <div class="table-responsive">
    <table class="table mt-0 table-borderless" data-pg-collapsed>
      <thead data-pg-collapsed class="table-header text-uppercase text-muted">
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody data-pg-collapsed class="text-muted">
        <tr data-pg-collapsed class="transition">
          <td class="align-middle text-nowrap">Jul 23, 2019</td>
          <td
            class="position-relative align-middle text-nowrap"
            data-pg-collapsed
          >
            <span class="d-block text-body">
              Debit transfer to Mark Nnamdi (0023455069) </span
            ><small class="text-secondary">TX09484793373</small>
          </td>
          <td class="font-weight-bold text-danger align-middle text-nowrap">
            -&#8358; 50,000
          </td>
          <td class="font-weight-bold text-danger align-middle">
            <a class="btn btn-sm btn-outline-secondary" href="#!">Receipt</a>
          </td>
        </tr>
        <tr class="transition" data-pg-collapsed>
          <td class="align-middle text-nowrap">Jul 23, 2019</td>
          <td class="position-relative align-middle" data-pg-collapsed>
            <span class="text-dark d-block">
              Credit transfer to Mark Nnamdi Azikwe II of Onitsha land
              (0023455069) </span
            ><small>TX09484793373</small>
          </td>
          <td class="font-weight-bold text-success align-middle text-nowrap">
            +&#8358; 50,000
          </td>
          <td
            class="font-weight-bold text-danger align-middle"
            data-pg-collapsed
          >
            <a class="btn btn-sm btn-outline-secondary" href="#!">Receipt</a>
          </td>
        </tr>
        <tr class="transition" data-pg-collapsed>
          <td class="align-middle text-nowrap">Jul 23, 2019</td>
          <td class="position-relative align-middle" data-pg-collapsed>
            <span class="text-dark d-block">
              Debit transfer to Mark Nnamdi (0023455069) </span
            ><small>TX09484793373</small>
          </td>
          <td class="font-weight-bold text-success align-middle text-nowrap">
            +&#8358; 50,000
          </td>
          <td
            class="font-weight-bold text-danger align-middle"
            data-pg-collapsed
          >
            <a class="btn btn-sm btn-outline-secondary" href="#!">Receipt</a>
          </td>
        </tr>
        <tr class="transition" data-pg-collapsed>
          <td class="align-middle text-nowrap">Jul 23, 2019</td>
          <td class="position-relative align-middle" data-pg-collapsed>
            <span class="text-dark d-block">
              Debit transfer to Mark Nnamdi (0023455069) </span
            ><small>TX09484793373</small>
          </td>
          <td class="font-weight-bold text-danger align-middle text-nowrap">
            -&#8358; 50,000
          </td>
          <td
            class="font-weight-bold text-danger align-middle"
            data-pg-collapsed
          >
            <a class="btn btn-sm btn-outline-secondary" href="#!">Receipt</a>
          </td>
        </tr>
        <tr class="transition" data-pg-collapsed>
          <td class="align-middle text-nowrap">Jul 23, 2019</td>
          <td class="position-relative align-middle" data-pg-collapsed>
            <span class="text-dark d-block">
              Debit transfer to Mark Nnamdi (0023455069) </span
            ><small>TX09484793373</small>
          </td>
          <td class="font-weight-bold text-success align-middle text-nowrap">
            +&#8358; 50,000
          </td>
          <td
            class="font-weight-bold text-danger align-middle"
            data-pg-collapsed
          >
            <a class="btn btn-sm btn-outline-secondary" href="#!">Receipt</a>
          </td>
        </tr>
        <tr class="transition">
          <td class="align-middle text-nowrap">Jul 23, 2019</td>
          <td class="position-relative align-middle" data-pg-collapsed>
            <span class="text-dark d-block">
              Debit transfer to Mark Nnamdi (0023455069) </span
            ><small>TX09484793373</small>
          </td>
          <td class="font-weight-bold text-danger align-middle text-nowrap">
            -&#8358; 50,000
          </td>
          <td
            class="font-weight-bold text-danger align-middle"
            data-pg-collapsed
          >
            <a class="btn btn-sm btn-outline-secondary" href="#!">Receipt</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
