<ng-container *ngIf="isBusy; else view">
  <app-loader message=""></app-loader>
</ng-container>
<ng-template #view>
  <small class="text-sm">Hello,</small>
  <h2 class="greeting font-weight-bold text-capitalize">
    {{ user.firstname }} {{ user.lastname }}
  </h2>
  <div class="row mt-5">
    <div class="col-sm-6 col-xl-4">
      <app-summary-box
        [amount]="balance.total"
        [transactions]="balance.count"
      ></app-summary-box>
    </div>
    <div class="col-sm-6 col-xl-4">
      <app-summary-box
        [amount]="credits.total"
        [transactions]="credits.count"
        type="credit"
      ></app-summary-box>
    </div>

    <div class="col-sm-6 col-xl-4">
      <app-summary-box
        [amount]="debits.total"
        [transactions]="debits.count"
        type="debit"
      ></app-summary-box>
    </div>
  </div>
  <div class="mt-5 mb-3 pt-4">
    <h4
      class="text-sm text-uppercase font-weight-bold text-muted d-inline-block"
    >
      Transactions
    </h4>
  </div>
  <div class="mt-0 summary bg-white">
    <div class="table-responsive">
      <table class="table mt-0 table-borderless">
        <thead class="table-header text-uppercase text-muted">
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="text-muted">
          <tr class="transition" *ngFor="let transaction of transactions">
            <td class="align-middle text-nowrap">
              {{ transaction.transactionDate | date }}
            </td>
            <td class="position-relative align-middle">
              <span class="text-dark d-block">
                {{ formatTransaction(transaction) }} </span
              ><small
                >{{ store.get("transactionSuffix") }}{{ transaction.id }}</small
              >
            </td>
            <td
              title="{{ transaction.type ? 'Credit' : 'Debit' }}"
              class="font-weight-bold text-success align-middle text-nowrap"
              [class.text-danger]="!transaction.type"
            >
              {{ transaction.type ? "+" : "-"
              }}<span [innerHTML]="store.get('currency')"></span>
              {{ transaction.amount | number }}
            </td>
            <td class="font-weight-bold text-danger align-middle">
              <button
                class="btn btn-sm btn-outline-secondary"
                (click)="showReceipt(transaction)"
              >
                Receipt
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-receipt [transaction]="selectedTransaction"></app-receipt>
</ng-template>
