<div class="text-center mb-5 pb-4 mt-2">
  <div class="d-inline-block position-relative">
    <img
      class="img-thumbnail rounded-circle"
      [src]="src"
      style="height: 120px; width: 120px;"
    />
    <div class="overlay" *ngIf="uploading"></div>

    <div
      class="spinner-border text-white position-absolute img-uploading"
      *ngIf="uploading || showLoader"
    ></div>
    <button
      type="button"
      class="btn btn-secondary position-absolute rounded-circle btn-uploader text-md"
      title="Change image"
      (click)="uploadFile()"
      *ngIf="!uploading && !showLoader"
    >
      <i class="fas fa-camera"></i>
    </button>
  </div>
</div>
