@keyframes uploading {
  to {
    opacity: 0.8;
  }
}

body {
  font-family: Montserrat;
  font-size: 16px;
  color: #393838;
}

.container-fluid {
  max-width: 1200px;
}

.pointer {
  cursor: pointer;
}

.left-panel li a:hover {
  text-decoration: underline !important;
}

.bg-grey {
  background-color: #f5f6f7;
}

.left-panel {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #4333a1;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
  overflow-y: auto;
  width: 280px;
  overflow: auto;
  transition: left 400ms;
  z-index: 20;
  padding: 80px 15px 20px;
  color: rgba(255, 255, 255, 0.67);
}

.profile-image {
  border-radius: 100%;
  border: 2px solid white;
}

.left-panel-profile-name {
  font-size: 12px;
  margin-bottom: 2px;
  line-height: 15px;
  text-transform: capitalize;
  color: white;
}

.transition {
  transition: 400ms;
}

.left-panel ul {
  margin-top: 70px;
  margin-bottom: 100px;
}

.left-panel ul a {
  padding: 5px 0px 5px 10px;
  display: inline-block;
  width: 100%;
  font-size: 13px;
  position: relative;
  top: -3px;
  text-transform: capitalize;
  color: inherit;
  margin-bottom: 8px;
  margin-top: 8px;
}

.left-panel-email {
  font-size: 11px;
  margin-bottom: -2px;
  opacity: 0.9;
  padding-top: 2px;
}

.right-panel {
  min-height: 100vh;
  padding: 50px 60px 30px;
  margin-left: 270px;
}

.header h1 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.35 !important;
}
.text-sentence::first-letter,
.error-text::first-letter {
  text-transform: uppercase;
}

.header {
  color: #505050;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  z-index: 10;
  left: 0px;
  right: 0px;
  top: 0px;
}
.img-uploading {
  left: 45px;
  top: 45px;
}

.btn-uploader {
  right: 0px;
  bottom: 15px;
  padding: 0px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  opacity: 0.7;
}

.text-md {
  font-size: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

@media (max-width: 991px) {
  .left-panel {
    left: -280px;
  }
}

@media (max-width: 991px) {
  .right-panel {
    margin-left: 0px;
    padding: 0px;
  }
}

@media (min-width: 992px) {
  .header {
    left: 280px;
    padding-left: 20px;
    display: none;
  }
}

.right-panel .right-body {
  padding-top: 100px;
  padding-bottom: 20px;
}

.btn-menu {
  padding: 0px;
  width: 40px;
  margin-right: 20px;
  display: none;
}

.btn-menu span {
  display: block;
  height: 3px;
  background: linear-gradient(-45deg, rgba(126, 52, 234, 0.67), #3983d7);
}

@media (max-width: 991px) {
  .btn-menu {
    display: inline-block;
  }
}

.hidden-menu .left-panel {
  left: 0px;
}

.hidden-menu .backdrop,
.hidden-receipt .receipt-backdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.19);
  z-index: 11;
}

.btn-back {
  position: absolute;
  top: 10px;
  left: 10px;
}

.text-brand {
  color: #4333a1;
}

@media (min-width: 992px) {
  .left-panel .btn-back {
    display: none;
  }
}

button {
  border: none;
}

.btn-curved {
  border-radius: 80px;
}

.text-sm {
  font-size: 12px;
}

.left-panel ul li.active::before {
  opacity: 1;
  width: 4px;
}

.left-panel li .fas {
  top: 7px;
}

.left-panel li {
  transition: all 100ms;
  position: relative;
}

.left-panel li.active {
  color: white;
  font-weight: bold;
}

.left-panel li::before {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  opacity: 0;
  transition: all 300ms;
  background-color: #ffffff;
  left: -55px;
}

.left-panel .drop {
  background-color: #12192c;
}

@media (min-width: 992px) {
  .right-panel .right-body {
    padding-top: 10px;
  }
}

.table {
  font-size: 13px;
}

.backbutton span.w-50:last-child {
  transform: rotate(45deg);
  left: -2px;
  top: 1px;
  height: 2px;
}

.backbutton span.w-50:first-child {
  height: 2px;
  transform: rotate(-45deg);
  left: -2px;
  top: -1px;
}

.btn-rounded {
  border-radius: 5px;
}

.left-panel-email span {
  color: white;
  letter-spacing: 1px;
}

.left-panel-profile {
  padding: 30px;
  background-color: #332292;
  border-radius: 15px;
}

@media (min-width: 992px) {
  aside.left-panel {
    padding-top: 50px;
  }
}

.spaced {
  letter-spacing: 2px;
}

.error-text {
  font-size: 12px;
  display: block;
  color: #ff5b60;
}

.btn.btn-block {
  padding-left: 0px;
  padding-right: 0px;
}

.greeting {
  font-size: 18px;
}

.overlay {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.49);
  border-radius: 100%;
}

.summary {
  padding: 25px;
  border-radius: 10px;
  margin-top: 30px;
  overflow: hidden;
}

.summary-title {
  font-size: 13px;
  opacity: 0.8;
}

.summary-amount {
  font-size: 14px;
  letter-spacing: 1px;
}

.summary-count {
  font-size: 11px;
  opacity: 0.6;
}

.transaction-badge {
  position: absolute;
  left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding-top: 6px;
  font-size: 12px;
}

.bg-brand {
  background-color: #4333a1;
}

.bg-success {
  background-color: #02c6a3 !important;
}

.table .btn {
  font-size: 10px;
}

.transaction-badge-green {
  background-color: rgba(2, 198, 163, 0.22);
  color: #02c6a3;
}

.transaction-badge-red {
  background-color: rgba(218, 98, 133, 0.22);
  color: #da6285;
}

.transaction-wrapper {
  max-width: 500px;
}

/** Unique stuffs **/
.receipt-divider {
  height: 1px;
  border-top: 1px dashed rgba(0, 0, 0, 0.13);
}

.receipt-divider::before,
.receipt-divider::after {
  content: "";
  position: absolute;
  left: -9px;
  width: 15px;
  height: 15px;
  background-color: #f5f6f7;
  border-radius: 100%;
  top: -7px;
}

.receipt-divider::after {
  left: auto;
  right: -9px;
}

.btn-sec {
  border-color: #4333a1;
  background: transparent;
  color: #4333a1 !important;
}

.receipt-panel {
  top: 0px;
  bottom: 0px;
  right: -300px;
  position: fixed;
  z-index: 30;
  width: 280px;
  background-color: #faecc9;
  overflow: auto;
  transition: all 300ms linear;
}

.receipt-backdrop {
  z-index: 25 !important;
}

.hidden-receipt .receipt-panel {
  right: 0px;
}

.summary-amount a:hover {
  color: white !important;
}
