<div class="transaction-wrapper mr-auto ml-auto">
  <h2 class="greeting font-weight-bold text-capitalize d-lg-block d-none mb-5">
    Fund Transfer
  </h2>
  <form [formGroup]="formGroup" (submit)="continue()">
    <h4 class="text-sm text-uppercase font-weight-bold text-muted mt-5 d-block">
      From Account
    </h4>
    <div class="summary position-relative bg-brand text-white mt-0">
      <div class="row">
        <div class="col-6">
          <div>
            <h4 class="summary-title text-sm text-truncate text-capitalize">
              {{ user.firstname }} {{ user.lastname }}
            </h4>
            <h5
              class="summary-amount font-weight-bold balance text-nowrap text-sm"
            >
              {{ user.accountNumber }}
            </h5>
          </div>
        </div>
        <div class="col-6 text-right">
          <div>
            <h4 class="summary-title text-sm">Balance</h4>
            <h5
              class="summary-amount font-weight-bold balance text-sm text-nowrap"
            >
              <span [innerHTML]="store.get('currency')"></span>
              {{ balance | number }}
            </h5>
          </div>
        </div>
      </div>
    </div>
    <!-- Transaction Type -->
    <div class="summary position-relative bg-red-light text-dark bg-white ">
      <lib-select
        [data]="store.CONSTANTS.TRANSACTION.OPTION"
        title="Transfer Type"
        [formGroup]="formGroup"
        name="type"
        invalidText="Choose the type of transfer"
      ></lib-select>
    </div>
    <h4 class="text-sm text-uppercase font-weight-bold text-muted mt-5 d-block">
      Beneficiary
    </h4>
    <!-- Beneficiary Bank -->
    <div class="summary position-relative bg-red-light text-dark bg-white mt-0">
      <lib-select
        [data]="banks"
        title="Bank"
        [formGroup]="formGroup"
        name="bank"
        keyText="name"
        keyValue="id"
        [showLoader]="loadingBanks"
        invalidText="Choose the beneficiary bank"
      ></lib-select>
      <lib-input
        title="Account Number"
        name="receiverAccount"
        invalidText="Enter the beneficiary account number"
        [formGroup]="formGroup"
      ></lib-input>
      <lib-input
        title="Name"
        name="receiverName"
        invalidText="Enter the beneficiary name"
        [formGroup]="formGroup"
        [readonly]="true"
      ></lib-input>
    </div>
    <div class="summary position-relative bg-red-light text-dark bg-white mt-3">
      <lib-input
        title="Amount"
        name="amount"
        type="number"
        invalidText="Enter the amount you want to transfer"
        [formGroup]="formGroup"
      ></lib-input>

      <lib-input
        title="Description"
        name="description"
        [isInput]="false"
        [formGroup]="formGroup"
      ></lib-input>
      <lib-input
        title="Transaction Date"
        name="transactionDate"
        type="date"
        invalidText="Transaction date is required"
        [formGroup]="formGroup"
      ></lib-input>
      <lib-input
        title="IFSC Code"
        name="ifscCode"
        [formGroup]="formGroup"
      ></lib-input>
    </div>
    <div class="summary position-relative bg-red-light text-dark bg-white mt-3">
      <lib-input
        title="Pin"
        name="pin"
        invalidText="Your pin is required"
        [formGroup]="formGroup"
      ></lib-input>
    </div>
    <div class="pl-2 pr-2 ml-0 mr-0 pb-0 pt-0 text-left">
      <lib-button
        className="login-btn btn text-white font-weight-bold mt-4"
        [disabled]="isBusy || formGroup.invalid"
        [showLoader]="isBusy"
        text="CONTINE"
        [maxWidth]="true"
      ></lib-button>
    </div>
  </form>
</div>
