<main
  class="d-flex justify-content-center align-items-center min-vh-100 login-cover position-relative "
>
  <form
    class="container-fluid mt-4 mb-4"
    (submit)="registerAccount()"
    #topElement
  >
    <div class="bg-white wrapper ml-auto mr-auto">
      <div
        class="welcome d-flex align-items-center h-100 position-relative justify-content-start register-header"
      >
        <div class="position-relative">
          <h1 class="font-weight-bold mb-0 position-relative hidden-line">
            {{ bankName }}
          </h1>
          <h4 class="mt-1 text-uppercase">Online Account Registration</h4>
        </div>
      </div>
      <div class="mt-5">
        <app-profile-image
          [src]="formGroup.get('image').value"
        ></app-profile-image>
      </div>
      <lib-alert
        [type]="response.type"
        [title]="response.title"
        [message]="response.message"
        *ngIf="!hideAlert"
      ></lib-alert>
      <h6 class="mt-4" *ngIf="response.type === 'success'">
        You can click <a routerLink="/">here</a> to log into your account.
      </h6>
      <div class="row mt-5">
        <div class="col-md-6">
          <lib-input
            title="First Name"
            name="firstname"
            invalidText="First name is required"
            [formGroup]="formGroup"
          ></lib-input>
        </div>
        <div class="col-md-6">
          <lib-input
            title="Last Name"
            name="lastname"
            invalidText="Last name is required"
            [formGroup]="formGroup"
          ></lib-input>
        </div>
        <div class="col-md-6">
          <lib-input
            title="Date of birth"
            name="dob"
            invalidText="Date of birth is required"
            [formGroup]="formGroup"
            type="date"
          ></lib-input>
        </div>
        <div class="col-md-6">
          <lib-select
            [data]="genders"
            title="Gender"
            [formGroup]="formGroup"
            name="gender"
            invalidText="Gender is required"
          ></lib-select>
        </div>
        <div class="col-md-6">
          <lib-input
            title="Email"
            name="email"
            invalidText="Email is required"
            [formGroup]="formGroup"
            type="email"
          ></lib-input>
        </div>
        <div class="col-md-6">
          <lib-input
            title="Phone"
            name="phone"
            invalidText="Phone number is required"
            [formGroup]="formGroup"
            type="tel"
          ></lib-input>
        </div>
        <div class="col-md-6">
          <lib-select
            [data]="identificationTypes"
            title="Type of Identification"
            [formGroup]="formGroup"
            name="identificationType"
            invalidText="Identificatin type is required"
          ></lib-select>
        </div>
        <div class="col-md-6">
          <lib-input
            title="Identification Number"
            name="identificationNumber"
            invalidText="Identification number is required"
            [formGroup]="formGroup"
          ></lib-input>
        </div>
      </div>
    </div>
    <div class="bg-white wrapper ml-auto mr-auto mt-1">
      <div class="row mt-3">
        <div class="col-md-6">
          <lib-input
            title="Address"
            name="address"
            invalidText="Address is required"
            [formGroup]="formGroup"
          ></lib-input>
        </div>
        <div class="col-md-6">
          <lib-input
            title="City"
            name="city"
            invalidText="City is required"
            [formGroup]="formGroup"
          ></lib-input>
        </div>
        <div class="col-md-6">
          <lib-select
            [data]="states"
            title="State"
            [formGroup]="formGroup"
            name="stateId"
            invalidText="State is required"
          ></lib-select>
        </div>
        <div class="col-md-6">
          <lib-input title="Zip" name="zip" [formGroup]="formGroup"></lib-input>
        </div>
      </div>
    </div>
    <div class="bg-white wrapper ml-auto mr-auto mt-1">
      <p class="register-text text-left mt-1">
        You will need this to log into your account.
      </p>
      <div class="row mt-3">
        <div class="col-md-6">
          <lib-input
            title="Password"
            name="password"
            type="password"
            invalidText="Password is required"
            [formGroup]="formGroup"
          ></lib-input>
        </div>
        <div class="col-md-6">
          <lib-input
            title="Confirm New Password"
            name="confirmPassword"
            type="password"
            invalidText="Passwords do not match"
            [formGroup]="formGroup"
          ></lib-input>
        </div>
      </div>
    </div>
    <div class="bg-white wrapper ml-auto mr-auto mt-1">
      <p class="register-text text-left mt-1">
        You will use this to authorize your transactions.
      </p>
      <div class="row mt-3">
        <div class="col-md-6">
          <lib-input
            title="Pin"
            name="pin"
            invalidText="Pin is required"
            [formGroup]="formGroup"
          ></lib-input>
        </div>
        <div class="col-md-6">
          <lib-input
            title="Confirm Pin"
            name="confirmPin"
            invalidText="Pins do not match"
            [formGroup]="formGroup"
          ></lib-input>
        </div>
        <div class="col-md-6">
          <lib-select
            [data]="accountTypes"
            title="Account Type"
            [formGroup]="formGroup"
            name="accountType"
            invalidText="Account type is required"
          ></lib-select>
        </div>
      </div>
      <div class="pl-2 pr-2 ml-0 mr-0 pb-0 pt-0">
        <lib-button
          className="login-btn btn text-white font-weight-bold mt-4 mr-auto d-block"
          [disabled]="isBusy || formGroup.invalid"
          [showLoader]="isBusy"
          text="CREATE ACCOUNT"
        ></lib-button>
        <p class="register-text mt-4 text-right">
          Already have an account? <a routerLink="/">Login</a>
        </p>
      </div>
    </div>
  </form>
</main>
